# Dog DNA

In [1]:
from datetime import datetime
start_time = datetime.now()

In [2]:
import pandas as pd

In [3]:
FILE_RAW = 'dog_dna_raw.csv'
FILE_MUNGED= 'dog_dna_munged.csv'
USECOLS = ['Dog 1 A', 'Dog 1 G', 'Dog 2 A', 'Dog 2 G']

In [4]:
df = pd.read_csv(FILE_RAW, usecols=USECOLS)

In [5]:
df.head()

  Dog 1 A Dog 1 G Dog 2 A Dog 2 G
0       A       A       A       A
1       A       A       A       A
2       G       G       G       G
3       A       A       A       A
4       G       A       G       G

In [6]:
labels = df.columns
df['Dog1'] = df['Dog 1 A'] + df['Dog 1 G']
df['Dog2'] = df['Dog 2 A'] + df['Dog 2 G']
df = df.drop(columns=labels)
df.to_csv(FILE_MUNGED)
df.head()

  Dog1 Dog2
0   AA   AA
1   AA   AA
2   GG   GG
3   AA   AA
4   GA   GG

In [7]:
pd.crosstab(df['Dog1'], df['Dog2'])

Dog2,00,AA,AC,AG,AT,CA,CC,CG,DD,DI,GA,GC,GG,ID,II,TA,TT
Dog1,,,,,,,,,,,,,,,,,
00,75,190,8,46,4,18,45,3,0,3,46,3,157,0,2,2,5
AA,160,59323,1143,4785,222,787,501,0,0,0,4091,0,2470,0,0,156,80
AC,3,1061,1211,0,0,40,623,0,0,0,0,0,0,0,0,0,0
AG,13,4507,0,5105,0,0,0,0,0,0,151,0,2765,0,0,0,0
AT,0,242,0,0,242,0,0,0,0,0,0,0,0,0,0,4,125
CA,7,717,40,0,0,1316,1176,0,0,0,0,0,0,0,0,0,0
CC,45,491,735,0,0,1358,16711,236,0,0,0,153,92,0,0,0,0
CG,0,0,0,0,0,0,205,235,0,0,0,8,149,0,0,0,0
DD,1,0,0,0,0,0,0,0,241,23,0,0,0,28,14,0,0
DI,0,0,0,0,0,0,0,0,24,24,0,0,0,0,15,0,0
GA,19,3532,0,176,0,0,0,0,0,0,6754,0,6130,0,0,0,0
GC,3,0,0,0,0,0,149,11,0,0,0,234,250,0,0,0,0
GG,150,2351,0,3278,0,0,97,146,0,0,6576,246,66033,0,0,0,0
ID,1,0,0,0,0,0,0,0,17,1,0,0,0,31,38,0,0
II,1,0,0,0,0,0,0,0,9,7,0,0,0,42,374,0,0
TA,1,133,0,0,8,0,0,0,0,0,0,0,0,0,0,269,256
TT,8,95,0,0,149,0,0,0,0,0,0,0,0,0,0,252,2718

In [8]:
pd.crosstab(df['Dog1'], df['Dog2'],
            margins=True,
            margins_name='Total',
            dropna=True)

Dog2,00,AA,AC,AG,AT,CA,CC,CG,DD,DI,GA,GC,GG,ID,II,TA,TT,Total
Dog1,,,,,,,,,,,,,,,,,,
00,75,190,8,46,4,18,45,3,0,3,46,3,157,0,2,2,5,607
AA,160,59323,1143,4785,222,787,501,0,0,0,4091,0,2470,0,0,156,80,73718
AC,3,1061,1211,0,0,40,623,0,0,0,0,0,0,0,0,0,0,2938
AG,13,4507,0,5105,0,0,0,0,0,0,151,0,2765,0,0,0,0,12541
AT,0,242,0,0,242,0,0,0,0,0,0,0,0,0,0,4,125,613
CA,7,717,40,0,0,1316,1176,0,0,0,0,0,0,0,0,0,0,3256
CC,45,491,735,0,0,1358,16711,236,0,0,0,153,92,0,0,0,0,19821
CG,0,0,0,0,0,0,205,235,0,0,0,8,149,0,0,0,0,597
DD,1,0,0,0,0,0,0,0,241,23,0,0,0,28,14,0,0,307
DI,0,0,0,0,0,0,0,0,24,24,0,0,0,0,15,0,0,63
GA,19,3532,0,176,0,0,0,0,0,0,6754,0,6130,0,0,0,0,16611
GC,3,0,0,0,0,0,149,11,0,0,0,234,250,0,0,0,0,647
GG,150,2351,0,3278,0,0,97,146,0,0,6576,246,66033,0,0,0,0,78877
ID,1,0,0,0,0,0,0,0,17,1,0,0,0,31,38,0,0,88
II,1,0,0,0,0,0,0,0,9,7,0,0,0,42,374,0,0,433
TA,1,133,0,0,8,0,0,0,0,0,0,0,0,0,0,269,256,667
TT,8,95,0,0,149,0,0,0,0,0,0,0,0,0,0,252,2718,3222
Total,487,72642,3137,13390,625,3519,19507,631,291,58,17618,644,78046,101,443,683,3184,215006

In [9]:
pd.crosstab(df['Dog1'], df['Dog2'],
            margins=True,
            margins_name='Total',
            dropna=True,
            normalize=True).round(4)*100

Dog2,00,AA,AC,AG,AT,CA,CC,CG,DD,DI,GA,GC,GG,ID,II,TA,TT,Total
Dog1,,,,,,,,,,,,,,,,,,
00,0.03,0.09,0.00,0.02,0.00,0.01,0.02,0.00,0.00,0.00,0.02,0.00,0.07,0.00,0.00,0.00,0.00,0.28
AA,0.07,27.59,0.53,2.23,0.10,0.37,0.23,0.00,0.00,0.00,1.90,0.00,1.15,0.00,0.00,0.07,0.04,34.29
AC,0.00,0.49,0.56,0.00,0.00,0.02,0.29,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.37
AG,0.01,2.10,0.00,2.37,0.00,0.00,0.00,0.00,0.00,0.00,0.07,0.00,1.29,0.00,0.00,0.00,0.00,5.83
AT,0.00,0.11,0.00,0.00,0.11,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.06,0.29
CA,0.00,0.33,0.02,0.00,0.00,0.61,0.55,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.51
CC,0.02,0.23,0.34,0.00,0.00,0.63,7.77,0.11,0.00,0.00,0.00,0.07,0.04,0.00,0.00,0.00,0.00,9.22
CG,0.00,0.00,0.00,0.00,0.00,0.00,0.10,0.11,0.00,0.00,0.00,0.00,0.07,0.00,0.00,0.00,0.00,0.28
DD,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.11,0.01,0.00,0.00,0.00,0.01,0.01,0.00,0.00,0.14
DI,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0.01,0.00,0.00,0.00,0.00,0.01,0.00,0.00,0.03
GA,0.01,1.64,0.00,0.08,0.00,0.00,0.00,0.00,0.00,0.00,3.14,0.00,2.85,0.00,0.00,0.00,0.00,7.73
GC,0.00,0.00,0.00,0.00,0.00,0.00,0.07,0.01,0.00,0.00,0.00,0.11,0.12,0.00,0.00,0.00,0.00,0.30
GG,0.07,1.09,0.00,1.52,0.00,0.00,0.05,0.07,0.00,0.00,3.06,0.11,30.71,0.00,0.00,0.00,0.00,36.69
ID,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0.00,0.00,0.00,0.00,0.01,0.02,0.00,0.00,0.04
II,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.02,0.17,0.00,0.00,0.20
TA,0.00,0.06,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.13,0.12,0.31
TT,0.00,0.04,0.00,0.00,0.07,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.12,1.26,1.50
Total,0.23,33.79,1.46,6.23,0.29,1.64,9.07,0.29,0.14,0.03,8.19,0.30,36.30,0.05,0.21,0.32,1.48,100.00

In [10]:
end_time = datetime.now()
(end_time - start_time).total_seconds()

1.366894