# Dog DNA

In [1]:
from datetime import datetime
start_time = datetime.now()

In [2]:
import pandas as pd

In [3]:
FILE_RAW = 'dog_dna.csv'

In [4]:
df = pd.read_csv(FILE_RAW)

In [5]:
df.head()

,Dog 1,chr0_0,Dog 1 A,Dog 1 G,Dog 2,chr0_0_1,Dog 2 A,Dog 2 G
0,0,chrUn_AAEX03020568_418,A,A,0,chrUn_AAEX03020568_418,A,A
1,0,chrUn_JH373319_445,A,A,0,chrUn_JH373319_445,A,A
2,0,chrUn_JH373268_626,G,G,0,chrUn_JH373268_626,G,G
3,0,chrUn_JH373321_790,A,A,0,chrUn_JH373321_790,A,A
4,0,chrUn_JH373278_1142,G,A,0,chrUn_JH373278_1142,G,G

In [6]:
end_time = datetime.now()
(end_time - start_time).total_seconds()

0.777864