# Dog DNA

In [1]:
from datetime import datetime
start_time = datetime.now()

In [2]:
import pandas as pd
import numpy as np

In [3]:
# TODO: this is a work in progress
# crosstab is what I need for a simple frequency count
def crosstab(df,
                val=None,
                idx=None,
                col=None,
                aggfunc='count',
                fill_value=None,
                margins=True):
    '''
    Pivot table.
    data:  dataframe
    val:   columns of the dataframe to aggregate, optional
    idx:   index of one or more columns for LHS of the table
    col:   columns for RHS of the table
    agg:   aggregate function
    '''
    return pd.crosstab(df,
                       values=val,
                       index=idx,
                       columns=col)

In [4]:
FILE_RAW = 'dog_dna.csv'

In [5]:
df = pd.read_csv(FILE_RAW)

In [6]:
df.head()

,Dog 1,chr0_0,Dog 1 A,Dog 1 G,Dog 2,chr0_0_1,Dog 2 A,Dog 2 G
0,0,chrUn_AAEX03020568_418,A,A,0,chrUn_AAEX03020568_418,A,A
1,0,chrUn_JH373319_445,A,A,0,chrUn_JH373319_445,A,A
2,0,chrUn_JH373268_626,G,G,0,chrUn_JH373268_626,G,G
3,0,chrUn_JH373321_790,A,A,0,chrUn_JH373321_790,A,A
4,0,chrUn_JH373278_1142,G,A,0,chrUn_JH373278_1142,G,G

In [7]:
# TODO: this is a work in progress
# crosstab is what I need for a simple frequency count
pd.crosstab(df['Dog 1 A'], df['Dog 1 G'])

Dog 1 G    0      A      C    D      G    I     T
Dog 1 A
0        607      0      0    0      0    0     0
A          0  73718   2938    0  12541    0   613
C          0   3256  19821    0    597    0     0
D          0      0      0  307      0   63     0
G          0  16611    647    0  78877    0     0
I          0      0      0   88      0  433     0
T          0    667      0    0      0    0  3222

In [8]:
end_time = datetime.now()
(end_time - start_time).total_seconds()

0.74696